
<div class="page-header" filter-color="orange">
    <div  style="background-image:url(assets/img/login.jpg);background-repeat:repeat-y"></div>
        <div class="section section-tabs" style="background-color:slategrey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                        <p class="category">Tabs with Icons on Card</p>
                        <!-- Nav tabs -->
  
                        <div class="card">
                          <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                  <ngb-tabset [justify]="'center'" class="text-center">
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons objects_umbrella-13"></i> New Post
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                              <div style="color: blueviolet;">
                                                <h3 class="title">Create new post</h3>
                                                <div class="row">
                                                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                                                      <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                                        <div class="input-group-prepend" >
                                                          <span class="input-group-text">
                                                              <i class="now-ui-icons users_circle-08"></i>
                                                          </span>
                                                        </div>
                                                          <input type="text" class="form-control" [(ngModel)]="postTitle" placeholder="Post title" (focus)="focus=true" (blur)="focus=false">
                                                      </div>
                                                      <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                                        <div class="input-group-prepend" >
                                                          <span class="input-group-text">
                                                                <i class="now-ui-icons ui-1_email-85"></i>
                                                          </span>
                                                        </div>
                                                          <input type="text" class="form-control" [(ngModel)]="postShort" placeholder="Post short discription" (focus)="focus1=true" (blur)="focus1=false">
                                                      </div>
                                                        <div class="textarea-container">
                                                            <textarea class="form-control" [(ngModel)]="postDescription" name="postDescription" rows="4" cols="80" placeholder="Post discription"></textarea>
                                                        </div>
                                                        <div class="send-button">
                                                            <a (click)="saveNewPost()" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                        </ng-template>
                                      </ngb-tab>
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons shopping_cart-simple"></i> All Posts
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                            <div style="border-bottom: 3px solid gray;">
                                                <span style="color: brown;float:left;background-color:cyan;">Unverified Post</span><br>
                                                <h2 style="color: black;margin-right: 20px;">Post Title</h2>
                                            <span style="color: brown;">Author:Sikander Nawaz</span>l̥
                                                 <p style="color: black;">Date published:March,10 2020</p>
                                                  <p style="color: black;">I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                                  </div>
                                                  <div style="border-bottom: 3px solid gray;">
                                                    <span style="color: brown;float:left;background-color:cyan;">Unverified Post</span><br>
                                                    <h2 style="color: black;margin-right: 20px;">Post Title</h2>
                                                <span style="color: brown;">Author:Sikander Nawaz</span>l̥
                                                     <p style="color: black;">Date published:March,10 2020</p>
                                                      <p style="color: black;">I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                                      </div>
                                                      <div style="border-bottom: 3px solid gray;">
                                                        <span style="color: brown;float:left;background-color:cyan;">Unverified Post</span><br>
                                                        <h2 style="color: black;margin-right: 20px;">Post Title</h2>
                                                    <span style="color: brown;">Author:Sikander Nawaz</span>l̥
                                                         <p style="color: black;">Date published:March,10 2020</p>
                                                          <p style="color: black;">I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                                          </div>
                                          </ng-template>
                                      </ngb-tab>
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <i class="now-ui-icons shopping_shop"></i> My posts
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                              <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                          </ng-template>
                                      </ngb-tab>
                                      <ngb-tab>
                                        <ng-template ngbTabTitle>
                                          <i class="now-ui-icons ui-2_settings-90"></i> Online users
                                        </ng-template>
                                          <ng-template ngbTabContent>
                                            <div class="container">
                                               <a class="row" routerLink='../personProfile' style="border: 2px solid black;">
                                                 <div class="col-sm-3">
                                                   <img src="../../../assets/img/avatar.jpg"style="width:30%;" />
                                                   </div>
                                                   <div class="col-sm-4">
                                                    <h4 style="color: black;">Sikander Mehmood</h4>
                                                    </div>
                                                    <div class="col-sm-5">
                                                      <h4 style="color: black;">ONLINE</h4>
                                                      </div>
                                                    </a>
                                              </div>
                                          </ng-template>
                                      </ngb-tab>
                                  </ngb-tabset>
                              </div>
                          </div>
                        </div>
                    </div>
                    </div>
                    </div>
    </div>
    
</div>
<footer class="footer">
        <div class="container">
            <nav>
              <ul>
                <li>
                    <a href="https://github.com/SikanderMehmood">
                        Sikander Mehmood
                    </a>
                </li>
                <li>
                    <a href="https://github.com/SikanderMehmood">
                        About
                    </a>
                </li>
                
                <li>
                    <a href="iub.edu.pk">
                        IUB
                    </a>
                </li>
            </ul>
            </nav>
        </div>
    </footer>