
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="" ngm (submit)="savenewSignUp()">
                    <div class="header header-primary text-center">
                    </div>
                    <div class="content" style="padding-top:50px">
                      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" style="padding:0px 0px 0px 10px ;" class="form-control" [(ngModel)]="fullname"  placeholder="Full Name" (focus)="focus=true" (blur)="focus=false" name="fullName" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text" style="padding:0px 0px 0px 10px;"  placeholder="Email" class="form-control" [(ngModel)]="email" (focus)="focus1=true" (blur)="focus1=false" name="email"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text" style="padding:0px 0px 0px 10px ;"  placeholder="Password" class="form-control" [(ngModel)]="password" (focus)="focus1=true" (blur)="focus1=false" name="password"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text" style="padding:0px 0px 0px 10px ;"  placeholder="College Name" class="form-control" [(ngModel)]="collegeName" (focus)="focus1=true" (blur)="focus1=false" name="collegeName"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text" style="padding:0px 0px 0px 10px ;"  placeholder="Fs.c Marks" class="form-control" [(ngModel)]="fscMarks" (focus)="focus1=true" (blur)="focus1=false" name="FscMarks"/>
                        </div>
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                              <input type="text" style="padding:0px 0px 0px 10px ;"  placeholder="UniveristName" class="form-control" [(ngModel)]="uniName" (focus)="focus1=true" (blur)="focus1=false" name="uniName"/>
                            </div>

                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink='../login' class="link">Already have account!</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding:10px;opacity:0.5;">
            <div class="col-sm-6 col-lg-3" style="margin-top:100px;">
            <p class="category" style="font-size:25px;">Select your Favourite Universities</p>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    Giki
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" [(ngModel)]="value" type="checkbox">
                    <span class="form-check-sign"></span>
                    NUST
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    UET
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    ISLAMIA
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    COMSATS
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    FAST
                </label>
            </div>
        </div>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/SikanderMehmood">
                            Sikander Mehmood
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/SikanderMehmood">
                            About
                        </a>
                    </li>
                    
                    <li>
                        <a href="iub.edu.pk">
                            IUB
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
