
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center" style="margin-top:30px">
            <div class="card card-login card-plain">
                <form class="form" method="" action="" ngm (submit)="savenewSignUp()">
                    <div class="header header-primary text-center">
                    </div>
                    <div class="content" style="margin-bottom:0px">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" class="form-control" [(ngModel)]="newSignUpInfo.name"  placeholder="Full Name" (focus)="focus=true" (blur)="focus=false" name="first" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text"  placeholder="Email" class="form-control" [(ngModel)]="newSignUpInfo.email" (focus)="focus1=true" (blur)="focus1=false" name="email"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text"  placeholder="Password" class="form-control" [(ngModel)]="newSignUpInfo.password" (focus)="focus1=true" (blur)="focus1=false" name="password"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text"  placeholder="Confirm Password" class="form-control" [(ngModel)]="pass" (focus)="focus1=true" (blur)="focus1=false" name="pass"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text"  placeholder="College Name" class="form-control" [(ngModel)]="newSignUpInfo.collegeName" (focus)="focus1=true" (blur)="focus1=false" name="collegeName"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text"  placeholder="Fs.c Marks" class="form-control" [(ngModel)]="newSignUpInfo.fscMarks" (focus)="focus1=true" (blur)="focus1=false" name="FscMarks"/>
                    </div>
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink='../signUpPerson' class="link">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#pablo" class="link">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
